html {
  margin: 0;
  padding: 0;
} 

body {
  background-color: white;
  font-family: Arial, Times, serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
}

hr {
  color: black;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: #888888;
}

a img {
  border: 0px;
}

a:hover {
  color: black;
}

a:visited {
  color: #888888;
}

#query-form {
	margin-left: 300px;
	text-align: right;
}

#form-container {
  background: #ffffff;
  width: 900px;
  margin: auto;
  padding-top: 4px;
}

#form-container a span {
  display: none;
}

#form-container a:hover span {
   display: block;
   position: absolute; top: 450px; left: 600; width: 125px;
   padding: 5px; 
   margin: 10px;
   color: white; 
   background: black;
   font: 12px Arial, Verdana, sans-serif; 
   text-align: left;
}

.form-label {
  text-align: right;
}

.form-input {
  text-align: left;
}

.form-answer {
  font-size: 10px;
  text-align: left;
  width: 100%;
}

#page-container {
  background-color: #ffffff;
  width: 800px;
  margin: 0 auto;
}

#header {
  color: white;
  padding-top: 25px;
}

#header img {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

#description {
  width: 720px;
  height: 125px;
  margin: auto;
  padding-top: 20px;
  font-size: 24px;
}
#description h2 { font-size: 24px; text-decoration: underline }


#description a {
  font-size: 24px;
  color: black;
  font-family: Arial;
}

#description a:hover {
  color: #888888;
}

#example {
  position: absolute;
  bottom: 0;
  margin: auto;
  padding: 5px;
  color: #777777;
  font-size: 12px;
}

#extras {
  width: 720px;
  height: 125px;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 16px;
  text-align: left;
}
#extras h2 { text-align: center; font-size: 20px; text-decoration: underline; }
#extras h3 { font-size: 16px; margin-bottom: 2px; }
#extras p { margin-top: 0px; padding-left: 20px; font-size: 13px; }

#other-interfaces {
  float: left;
  width: 70%;
  padding-left: 25px;
}

#donate {
  float: right;
  width: 25%;
}
#donate form { padding-left: 10px; padding-top: 75px;}

#by {
  height: 200px;
  width: 100%;
  margin: 20px 0 40px;
}
#bybus {
  height: 100%;
  width: 47%;
  float: left;
  padding: 4px;
  margin-bottom: 5px;
  border: 1px dotted;
  position: relative;
}
#bystop {
  height: 100%;
  width: 47%;
  float: right;
  padding: 4px;
  border: 1px dotted;
  position: relative;
}

#spacer {
  clear: both;
  width: 100%;
}
#feedback-details {
  font-size: 16px;
}

#estimates {
	text-align: center;
	font-size: 16px;
}

#powered-by {
  font-size: 12px;
  float: left;
  padding: 4px;
}

#contact-container {
  float: middle;
  padding: 4px;
  font-size: 12px;
}

#me {
  float: right;
  padding: 4px;
  font-size: 12px;
}

#footer {
  border-top-color: black;
  height: 80px;
  color: #888888;
  background: #ffffff;
}
