
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <meta name="description" content="A telephone application that lets you check Madison bus schedules in real time.">
    <meta name="keywords" content"gov20, gov2.0, Twilio, bus schedule, SMS, madison, metro, mymetro, mymetrobus, google app engine, cloud computing, telephone, telephony, smsmybus">
    <meta name="google-site-verification" content="H9cmKbLovDFqlBKn-lLv7ojvKOQ599AKKsJ7QgrM1fA" />
    <title>SMSMyBus - Check the bus schedule in real time</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://www.paypalobjects.com/js/external/dg.js"></script>
  </head>

<body>  

<div id="page-container">
 <div id="header">
 <center><img src="img/header.png" alt="smsmybus logo"></center>
 </div>

{% if message %}
  <div id="message">{{ message }}</div>
{% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <br/>
 <div id="spacer"></div>
 <hr>
 <div id="footer">
  <div id="powered-by">
     powered by:<br><br>
     <a href=http://code.google.com/appengine/><img src="img/gae-logo.png" alt="google app engine" height="30" width="30"></a>
     <a href=http://twilio.com><img src="img/twilio-logo.jpg" alt="twilio" height="30" width="30"></a>
  </div>
  <div id="me">
   <a href=http://twitter.com/smsmybus>@smsmybus</a>
  </div>
  <div id="contact-container">
   terms - privacy - <a href="mailto:help@smsmybus.com?subject=SMSMyBus%20feedback">feedback</a>
  </div>
 </div>
</div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2237321-13");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>